@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9 rue Jubinville<br />
    H7G 3C8 Laval,QC<br />
    <abbr title="Phone">Cel:</abbr>
    514 386 4442
</address>

<address>
    <strong>Email:</strong><a href="majdi.kayel.85@hotmail.com">majdi.kayel.85@hotmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>